p {
    padding: 1.2rem;
    text-align: center;
    max-width: 75rem;
    margin-inline: auto;
    line-height: 1.8rem;
    font-size: 120%;
}

h3 {
    text-align: center;
    padding: 3rem;
}

main {
    max-width: 1200px;
    margin-inline: auto;
}

#culinaria-ul {
    padding: 1.2rem;
    margin: 1.2rem;
    border-radius: 1rem;
    margin-inline: 25rem;
    text-align: left;
    background-color: oklch(83.7% 0.128 66.29);
}

.linguica{
    position: relative;
   width: 276px;
   height: 276px;
   border-radius: 54px;
   top: 1rem;
   display: flex;    
}

.prato2{
    position: relative;
    width: 276px;
    height: 276px;
    border-radius: 54px;
    display: flex;
}

.pretzel{
    position: relative;
   width: 276px;
   height: 276px;
   border-radius: 54px;
   display: flex;
}

.Sauerkraut{
    position: relative;
    width: 276px;
    height: 276px;
    border-radius: 54px;
    display: flex;
}

#pratos {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 3rem;
}