p {
    padding: 1.2rem;
    text-align: center;
    max-width: 75rem;
    margin-inline: auto;
    line-height: 1.8rem;
    font-size: 120%;
}

h3 {
    text-align: center;
    padding: 3rem;
}

main {
    max-width: 1200px;
    margin-inline: auto;
}
.carro1{
    position: relative;
    width: 376px;
    height: 300px;
    border-radius: 54px;
    top: 1rem;
    display: flex;
    left:60rem;   
}
.bmw{
    position: relative;
    width: 380px;
    height: 310px;
    border-radius: 54px;
    top:3rem;
    display: flex;
    left:60rem; 
}
.bayer{
    position: relative;
    width: 380px;
    height: 310px;
    border-radius: 54px;
    display: flex;
    left:6rem; 
    top:-37rem;
}
.simens{
    position: relative;
    width: 380px;
    height: 310px;
    border-radius: 54px;
    top:-34rem;
    display: flex;
    left:6rem; 
}
.alemanha{
    position: relative;
    width: 376px;
    height: 300px;
    border-radius: 54px;
    top: -65rem;
    display: flex;
    left:34rem;   
}