p {
    padding: 1.2rem;
    text-align: center;
    max-width: 75rem;
    margin-inline: auto;
    line-height: 1.8rem;
    font-size: 120%;
}

h3 {
    text-align: center;
    padding: 3rem;
}

main {
    max-width: 1200px;
    margin-inline: auto;
}

.carro1{
    position: relative;
    width: 376px;
    height: 300px;
    border-radius: 54px;
    display: flex;
}

.bmw{
    position: relative;
    width: 380px;
    height: 310px;
    border-radius: 54px;
    display: flex;
}

.bayer{
    position: relative;
    width: 380px;
    height: 310px;
    border-radius: 54px;
    display: flex;
}

.simens{
    position: relative;
    width: 380px;
    height: 310px;
    border-radius: 54px;
    display: flex;
}

.alemanha{
    position: relative;
    width: 376px;
    height: 300px;
    border-radius: 54px;
    display: flex;  
}

#eco1 {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 3rem;
}
#eco2 {
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    margin-top: 3rem;
}