* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #8d1209;
    position: fixed;
    width: 100%;
    z-index: 10;
    height: 10rem;
}

main {
    background-color: oklch(94.5% 0.129 101.54);
    min-height: calc(124vh - 10.8rem);
    padding-block: 14.8rem 4rem;
    max-width: 120rem;
    margin: 0 auto;
    margin-inline: auto;
}

.header-page {
    text-align: center;
    margin-inline: auto;
    max-width: 120rem;
    padding-block: 1.6rem;
    color: #fff;
    font-size: 160%;

    ul {
        list-style: none;
        display: flex;
        gap: 6rem;
        justify-content: center;
        padding-block: 1rem;
        font-size: 18px;
    }

    a {
        color: #fff;
        text-decoration: none;
    }

    li:hover {
        transform: scale(1.1);
        font-weight: 700;
        transition: .6s;
    }
}

p {
    background-color: oklch(83.7% 0.128 66.29);
    border-radius: 1rem;
    margin-top: 1.6rem;
    font-size: 1.1rem;
}

li {
    list-style: none;
}

h2 {
    text-align: center;
    padding: 2rem;
    font-size: 2rem;
}