main {
    background-color: oklch(94.5% 0.129 101.54);
    min-height: calc(124vh - 10.8rem);
}
    fieldset {
        padding: 2rem;
        border-radius: 1rem;
        background-color: oklch(83.7% 0.128 66.29);
        width: 300px;
        margin: 0 auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        input {
            display: block;
            width: 20rem;
            margin-top: .6rem;
            padding: .3rem;
            border-radius: .5rem;
            border: none;
            color: oklch(14.5% 0 0);
        }

        input:focus {
            outline: 2px solid oklch(87.9% 0.169 91.605);
        }

        input::placeholder {
            color: oklch(42.1% 0.095 57.708);
        }
    }


#entrar {
    margin-bottom: 2rem;
    margin: .6rem;
    padding: .6rem 1rem;
    border: none;
    color: oklch(39.6% 0.141 25.723);
    background-color: oklch(88.5% 0.062 18.334);
    border-radius: .5rem;
    margin-inline: 56.5rem;
}

button:hover {
    background-color: oklch(78.195% 0.11943 11.683);
    transition: ease-in-out .4s;
    cursor: pointer;
    font-size: 1rem;
}

p {
    max-width: fit-content;
    padding: .6rem;
}

#criar-conta {
    background-color: oklch(94.5% 0.129 101.54);
    margin-inline: 52rem;
}

#botao-cadastro {
    margin-inline: 56.5rem;
}