p {
    padding: 1.2rem;
    text-align: center;
    max-width: 75rem;
    margin-inline: auto;
    line-height: 1.8rem;
    font-size: 120%;
}

h3 {
    text-align: center;
    padding: 3rem;
}

main {
    max-width: 1200px;
    margin-inline: auto;
}
.reno{
    position: relative;
   width: 330px;
   height: 350px;
   border-radius: 54px;
   top: 1rem;
   display: flex;
   left:36rem;
}
.catedral{
    position: relative;
    width: 350px;
    height: 570px;
    border-radius: 48px;
    top: 1rem;
    display: flex;
    left:36rem;
}
.castelo{
    position: relative;
   width: 350px;
   height: 400px;
   border-radius: 48px;
   top:-24rem;
   display: flex;
   left:50rem;
}
.portao{
    position: relative;
    width: 350px;
    height: 400px;
    border-radius: 48px;
    top: 1rem;
    display: flex;
    left:20rem;
}
