p {
    padding: 1.2rem;
    text-align: center;
    max-width: 75rem;
    margin-inline: auto;
    line-height: 1.8rem;
    font-size: 120%;
    margin-top: 1rem;
}

h3 {
    text-align: center;
    padding: 3rem;
}

main {
    
    
    margin-inline: auto;
}
.reno{
    position: relative;
    width: 330px;
    height: 350px;
    border-radius: 54px;
    top: 1rem;
    display: flex;
    margin-inline: auto;
}
.catedral{
    position: relative;
    width: 350px;
    height: 570px;
    border-radius: 48px;
    top: 1rem;
    display: flex;
    margin-inline: auto;
}
.castelo{
    position: relative;
    width: 350px;
    height: 400px;
    border-radius: 48px;
    top: 3rem;
    display: flex;
}
.portao{
    position: relative;
    width: 350px;
    height: 400px;
    border-radius: 48px;
    top: 3rem;
    display: flex;
}
#portcast {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    gap: 2rem;
}
