main {
    background-color: oklch(94.5% 0.129 101.54);
    min-height: calc(124vh - 10.8rem);
}
    fieldset {
        padding: 1.5rem;
        width: 25rem;
        border-radius: 1rem;
        background-color: oklch(83.7% 0.128 66.29);
        width: 300px;
        margin: 0 auto;
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;

        input {
            display: flex;
            width: 20rem;
            margin-top: .6rem;
            padding: .3rem;
            border-radius: .5rem;
            border: none;
            color: oklch(14.5% 0 0);
        }

        input[type=radio] {
            display: inline-block;
            width: 20px;
            height: 13.5px;

        }
}

button {
    margin-bottom: 2rem;
    padding: .6rem 1rem;
    border: none;
    color: oklch(39.6% 0.141 25.723);
    background-color: oklch(88.5% 0.062 18.334);
    border-radius: .5rem;
    margin-inline: 45rem;
}
button:hover {
        transition: ease-in-out .4s;
        cursor: pointer;
        font-size: 1rem;
}


h3 {
    padding: 0.5rem;
}